@charset "utf-8";
html, body { width: 100%;  height: 100%; margin: 0; padding: 0; }
ul, li { list-style-type: none; padding-left: 0; }
dl, dt, dd { margin: 0; }
.float_l { float: left }
.float_r { float: right }
.overflow_h { overflow: hidden }
.text_c{ text-align: center; }
.text_l{ text-align: left; }
.text_r{ text-align: right; }
.margin_auto { margin: auto; }
.margin0 { margin: 0; }
.padding0 { padding: 0; }
.border0 { border: 0 !important; }
.img_auto {
    display: block;
    width: 100%;
    max-width: 100%;
}


/* 头部 */
.page_header {
    position: relative;
    z-index: 99;

    width: 100%;
    height: 45px; line-height: 44px;
    padding: 0 20px;

    box-shadow: 0 0 4px #333;
    background-color: #222;
    border-bottom: #080808 1px solid;

    color: #fff;
}
.page_header h1.header_title {
    font-size: 16px;
    margin: 0;
    line-height: inherit;
}
.page_header .login_exit { margin-left: 20px; padding: 4px 10px; }


/* 主体 */
.page_main {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}
/* 侧边栏 */
.page_main .side_nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    width: 199px;
    height: 100%;
    z-index: 999;
    overflow-y: auto;

    background-color: #333;
    border-right: 1px solid #222;
}
.side_nav dl dt{
    display: block;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    color: #fff;
    border-bottom: 1px solid #222
}

.side_nav dl dt i {
    position: absolute;
    display: block;
    background: url(../images/icon_jt2.png) no-repeat 0 -6px;
    font-size: 0;
    height: 5px;
    right: 15px;
    line-height: 0;
    overflow: hidden;
    top: 50%;
    width: 9px;
    margin-top: -3px;
    transition-duration: 0.3s;
    transition-property: all;
}
.side_nav dl dd { display: none; }
.side_nav dl dd a {
    display: block;
    line-height: 32px;
    padding-left: 32px;
    border-bottom: none;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}
.side_nav dl dd a:hover {
    color: #fff;
    background-color: #777;
}
/* 主体窗口 */
.article_main{
    position: absolute;
    top: 0;
    left: 199px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.article_main .main_top_nav{
    height: 40px;
    padding-right: 75px;
    background: #a2bed5 url(../images/acrossTab-bg.png) repeat-x 0 bottom;
    overflow: hidden;
    position: relative;
}
.article_main .main_top_nav li {
    position: relative;
    bottom: -11px;
    top: auto;

    float: left;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    cursor: pointer;
    padding: 0 30px;
    white-space: nowrap;
    color: #282828;
    background-position: 0 0;
}
.article_main .main_top_nav li,
.article_main .main_top_nav li > em {
    background: url(../images/acrossTab.png) no-repeat 0 0;
}
.article_main .main_top_nav li > em  {
    position: absolute;
    width: 23px;
    height: 29px;
    right: -20px;
    top: 0;
    z-index: 50;
    background-position: right -30px;
}
.article_main .main_top_nav li.active {
    background-position: 0 -120px;
    z-index: 99;
}
.article_main .main_top_nav li.active > em { background-position: right -150px }
/* 关闭选项卡 */
.article_main .main_top_nav li > i{
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    top: 50%;
    margin-top: -6px;
    right: 5px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background: url(../images/acrossTab-close.png) no-repeat 0 0;
}
.article_main .main_top_nav li > i:hover { background-position: 0 bottom; }
/* iframe */
.iframe_box .iframe_item {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}