<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_399526_ni5dkr4q3pfzuxr.css">
<link rel="stylesheet" href="__PUBLIC_CSS__/style.css" />
<title>qq宝贝PC_首页</title>
</head>
<body>
<div class="page">
    <!-- 页面容器 -->
    <div class="page_index">
        <!-- 头部 -->
        <header class="page_header">
            <nav class="top_nav">
                <ul class="nav_list margin0">
                    <li class="nav_item item_logo"><a href="javascript:0;"><img src="__PUBLIC_IMAGES__/logo.png" alt=""></a></li>
                    <li class="nav_item current"><a href="javascript:0;" class="iconfont icon-triangle">首页</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">婴儿照</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">宝宝照</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">儿童照</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">亲子照</a></li>
                    <li class="nav_item"><a href="javascript:0;" class="iconfont icon-triangle">客片欣赏</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">最新活动</a></li>
                    <li class="nav_item "><a href="javascript:0;" class="iconfont icon-triangle">关于我们</a></li>
                </ul>
            </nav>
        </header>
        <!-- 主体 -->
        <div class="page_main" style="margin-top: 78px;">
            <div class="top_main_banner">
                <img src="__PUBLIC_IMAGES__/IMG_6641.jpg" alt="">
            </div>
            <!-- 活动模块 -->
            <section class="module_box new_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>LATEST ACTIVITY</strong>
                    <p>最新活动</p>
                </h3>
                <div class="module_bd">
                    <div class="module_con_list">
                        <div class="module_con_item">
                            <div class="item_img_box border0"><img src="__PUBLIC_IMAGES__/coupon.png" alt="" class="item_img"></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 婴儿作品模块 -->
            <section class="module_box infant_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>BABY WORKS</strong>
                    <p>婴儿作品</p>
                </h3>
                <div class="module_bd">
                    <img src="__PUBLIC_IMAGES__/yinger_banner.jpg" alt="" class="module_top_main_banner" />
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/yinger_1.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/yinger_2.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/yinger_3.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 宝宝作品模块 -->
            <section class="module_box babay_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>BABY WORKS</strong>
                    <p>宝宝作品</p>
                </h3>
                <div class="module_bd">
                    <div class="module_top_main_banner">
                        <img src="__PUBLIC_IMAGES__/baby_1.jpg" alt="" class="item_main_img" data-scroll-reveal="enter top and move 30px over 1.2s">
                        <img src="__PUBLIC_IMAGES__/baby_2.jpg" alt="" class="item_main_img" data-scroll-reveal="enter bottom and move 30px over 1.2s">
                        <img src="__PUBLIC_IMAGES__/baby_3.jpg" alt="" class="item_main_img" data-scroll-reveal="enter top and move 30px over 1.2s">
                        <img src="__PUBLIC_IMAGES__/baby_2.jpg" alt="" class="item_main_img" data-scroll-reveal="enter bottom and move 30px over 1.2s">
                    </div>
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/baobao_left.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/baobao_right.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 儿童作品模块 -->
            <section class="module_box children_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>CHILDREN'S WORKS</strong>
                    <p>儿童作品</p>
                </h3>
                <div class="module_bd">
                    <div class="module_top_main_banner">
                        <img src="__PUBLIC_IMAGES__/children_1.jpg" alt="" class="item_main_img" data-scroll-reveal="enter left and move 50px over 1.2s" style="width: 58%; margin-left: 4%;">
                        <img src="__PUBLIC_IMAGES__/children_2.jpg" alt="" class="item_main_img" data-scroll-reveal="enter right and move 30px over 1.2s" style="width: 24.2%; margin-left: 4%;">
                    </div>
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/ertong_left.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/ertong_right.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 亲子作品模块 -->
            <section class="module_box family_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>PARENTS WORKS</strong>
                    <p>亲子作品</p>
                </h3>
                <div class="module_bd">
                    <img src="__PUBLIC_IMAGES__/qinzi_banner.jpg" alt="" class="module_top_main_banner" />
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/qinzi_1.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/qinzi_2.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/qinzi_3.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 我们的团队模块 -->
            <section class="module_box team_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>OUR TEAM</strong>
                    <p>我们团队</p>
                </h3>
                <div class="module_bd">
                        <div class="module_top_main_banner">
                            <img src="__PUBLIC_IMAGES__/team_1.jpg" alt="" class="item_main_img" data-scroll-reveal="enter top and move 40px over 1.2s" style="width: 60%; margin: auto;">
                            <img src="__PUBLIC_IMAGES__/team_2.jpg" alt="" class="item_main_img" >
                        </div>
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/team_left.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/team_right.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 场馆主体模块 -->
            <section class="module_box venue_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>THE THEME</strong>
                    <p>场馆主题</p>
                </h3>
                <div class="module_bd">
                    <img src="__PUBLIC_IMAGES__/venue_banner.jpg" alt="" class="module_top_main_banner" />
                    <div class="module_con_list">
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/venue_1.jpg" alt="" class="item_img"></div>
                        </a>
                        <a href="javascript:0;" class="module_con_item">
                            <div class="item_img_box"><img src="__PUBLIC_IMAGES__/venue_2.jpg" alt="" class="item_img"></div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 我们的保障模块 -->
            <section class="module_box server_module">
                <h3 class="module_hd">
                    <p>QQBABY .2017</p>
                    <strong>WE GUARANTEE</strong>
                    <p>我们的保障</p>
                </h3>
                <div class="module_bd">
                    <img src="__PUBLIC_IMAGES__/advantage_img.png" alt="" class="module_top_main_banner" />
                </div>
            </section>
        </div>
        <!-- 底部 -->
        <div class="page_footer clearfix">
            <div class="clearfix">
                 <div class="left_box float_l">
                    <ul>
                        <li>
                            <p>作品欣赏</p>
                            <a href="javascript:0;">婴儿系列</a>
                            <a href="javascript:0;">宝宝系列</a>
                            <a href="javascript:0;">儿童系列</a>
                            <a href="javascript:0;">亲子系列</a>
                        </li>
                        <li>
                            <p>套餐专区</p>
                            <a href="javascript:0;">婴儿套餐</a>
                            <a href="javascript:0;">宝宝套餐</a>
                            <a href="javascript:0;">儿童套餐</a>
                            <a href="javascript:0;">亲子套餐</a>
                        </li>
                        <li>
                            <p>关于我们</p>
                            <a href="javascript:0;">企业简介</a>
                            <a href="javascript:0;">人才招聘</a>
                            <a href="javascript:0;">摄影匠心</a>
                            <a href="javascript:0;">联系我们</a>
                        </li>
                    </ul>
                    <p class="copyright_info">版权所有@COPY RIGHT <a href="javascript:0;">南宁QQ宝贝儿童摄影</a> 2006-2017：桂ICP备13004846号-1</p>
                </div>
                <div class="right_box float_r" style="width: 520px;">
                    <p>南宁QQ宝贝儿童摄影</p>
                    <p>客服电话：0771-5573005</p>
                    <p>地址：双拥旗舰店-双佣路9号南湖隧道旁</p>

                    <div class="QC_code">
                        <a href="javascript:0;" class="item_code">
                            <img src="__PUBLIC_IMAGES__/weixin_code.jpg" alt="">
                            <p>官方微信</p>
                        </a>
                        <a href="javascript:0;" class="item_code">
                            <img src="__PUBLIC_IMAGES__/weibo_code.jpg" alt="">
                            <p>官方微博</p>
                        </a>
                        <a href="javascript:0;" class="item_code">
                            <img src="__PUBLIC_IMAGES__/taobao_code.jpg" alt="">
                            <p>淘宝店</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 悬浮容器 -->
    <div class="page_float">
        <!-- 左侧栏目类 -->
        <!-- 右侧栏目类 -->
        <div class="right_advice_bar">
            <div class="go-top">
                <div class="arrow"></div>
                <div class="stick"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC_JS__/scrollReveal.js"></script> 
<script type="text/javascript">
$(function(){

    window.scrollReveal = new scrollReveal({ reset: true, move: '50px'});
    // 返回顶部 
    $(window).scroll(function() {
        if ($(window).scrollTop() > 1000){
            $('div.go-top').fadeIn();
        } else { $('div.go-top').fadeOut() }
    });
    $('div.go-top').click(function() {
        $('html, body').animate({scrollTop: 0}, 1000);
    });
})  
</script>
</body>
</html>